<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/style.js"></script>

<header>
    <h1 style="color:blue">Demo Uiza</h1>
    <div class="container" style="margin-top: 20px; margin-bottom: 20px">
        <nav>
            <ul class="nav dropdown">
                {{#ifTypes active 0}}
                <li class="active">
                {{else}}
                <li>
                {{/ifTypes}}
                    <a class="nav-link" href="/">Home</a>
                </li>

                {{#ifTypes active 1}}
                <li class="active">
                {{else}}   
                <li>
                {{/ifTypes}}
                    <a class="nav-link" href="/entity">Video</a>
                </li>

                {{#ifTypes active 2}}
                <li class="active">
                {{else}}
                <li>
                {{/ifTypes}}
                    <a class="nav-link" href="/category">Category</a>
                </li>

                {{#ifTypes active 3}}
                <li class="drop active">
                {{else}}    
                <li class="drop">
                {{/ifTypes}}    
                    <a class="nav-link" href="/livestream">Livestream</a>
                    {{#ifTypes active 3}}
                    <ul class="sub-menu active">
                    {{else}}
                    <ul class="sub-menu">
                    {{/ifTypes}}   
                        <li><a href="/livestream/createEvent">Create event</a></li>
                        <li><a href="/livestream/listRecodedFiles">List recoded files</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>