<div class="container">
    <div class="row">
        <h4>Livestream events</h4>
    </div>

    <div class="container-fluid" id="inventory">
        <div class="row">
            {{#each livestreamList}}
            <div class="col-md-3">
                <div class="card">
                    {{#if thumbnail}}
                    <img class="img-fluid" src="{{thumbnail}}" alt="Card image cap">
                    {{else}}
                    <img class="img-fluid" src="/img/playlist.jpeg" alt="Card image cap">
                    {{/if}}
                    <a href="/livestream/event/{{id}}" class="btn view-btn">{{name}}</a>
                    <div class="ribbon"><span>{{mode}}</span></div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    var a={{{json livestreamList}}}
    console.log("TCL: thumbnail", a);
</script>