{{!-- <script>
    $(document).ready(() => {
        $("#start").click(() => {
            var a = $("#start");
            if (a.text() == 'Start') {
                a.text('Stop');
                a.removeClass('btn-start');
                a.addClass('btn-stop');
            } else {
                a.text('Start');
                a.removeClass('btn-stop');
                a.addClass('btn-start');
            }
        });
    })
</script> --}}

<h4>Event detail</h4>
<div class="container">
    <div class="livestream-event">
        {{#if retrieveLive.poster}}
        <img src="{{retrieveLive.poster}}" alt="Poster">
        {{else}}
        <img src="/img/playlist.jpeg" alt="Poster">
        {{/if}}
        <span>{{retrieveLive.name}}</span>
    </div>
    <div class="livestream-button">
        <div class="button-container">
            <form action="/livestream/event/{{retrieveLive.id}}" method="post">
                <input type="hidden" name="id" value="{{retrieveLive.id}}">
                <input type="submit" class="btn btn-start" value="Start"></input>
            </form>
            <button class="btn btn-dark">Update</button>
            <form method="POST" action="/livestream/event/{{retrieveLive.id}}?_method=DELETE">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn btn-danger" value="Delete"></input>
            </form>
        </div>
    </div>
</div>
<div>
    <a href="/livestream/event/{{retrieveLive.id}}"></a>
</div>